MEDIA_BIND_ADDRESS=127.0.0.1:4443
MEDIA_ANNOUNCED_ADDRESS=<STATIC_PUBLIC_IPV4>
MEDIA_RTC_PORT_MIN=40000
MEDIA_RTC_PORT_MAX=40199
MEDIA_WORKERS=1
MEDIA_GRANT_PUBLIC_KEY=<PADDED_STANDARD_BASE64_RAW_ED25519_PUBLIC_KEY>
MEDIA_ALLOWED_ORIGIN=https://www.tradingroom.app
RUST_LOG=info
